<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="framesSettings" 
                 type="Recovery2.Configs.FramesConfigSection, Recovery2"
                 restartOnExternalChanges="false"
                 requirePermission="false" />
    </configSections>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


    <appSettings>
        <add key="Title" value="Заголовок" />
        <add key="Count" value="30" />
        <add key="DefaultDelay" value="1000" />
        <add key="Random" value="False" />
        <add key="Blackscreen" value="True" />
    </appSettings>

    <framesSettings>
        <frames>
            <add name="Blackscreen" color="0xFF000000" delay="200" key="None" />
            <add name="RedFrame" color="0xFFFF0000" delay="500" key="None" />
            <add name="BlueFrame" color="0xFF0000FF" delay="1000" key="Space" />
            <add name="YellowFrame" color="0xFFFFFF00" delay="2000" key="Enter" />
        </frames>
    </framesSettings>
</configuration>