<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="framesSettings" 
                 type="Recovery2.Configs.FramesConfigSection, Recovery2"
                 restartOnExternalChanges="false"
                 requirePermission="false" />

        <section name="framesize"
                 type="Recovery2.Configs.FrameSizeConfigSection, Recovery2"
                 restartOnExternalChanges="false"
                 requirePermission="false" />
    </configSections>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>