<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="Title" value="Заголовок"/>
        <add key="Count" value="30"/>
        <add key="DefaultDelay" value="1000"/>
        <add key="Random" value="False"/>
        <add key="Blackscreen" value="True"/>
        <add key="BlackscreenItem.Delay" value="1000"/>
        <add key="BlackscreenItem.Key" value="Space"/>
        <add key="BlackscreenItem.Color" value="0x78FF0000"/>
        <add key="Items.item0.Delay" value="1600"/>
        <add key="Items.item0.Key" value="None"/>
        <add key="Items.item0.Color" value="0xFFFF0000"/>
        <add key="Items.item1.Delay" value="100"/>
        <add key="Items.item1.Key" value="None"/>
        <add key="Items.item1.Color" value="0xFF0000FF"/>
        <add key="Items.item2.Delay" value="1200"/>
        <add key="Items.item2.Key" value="None"/>
        <add key="Items.item2.Color" value="0xFFFFFF00"/>
    </appSettings>
</configuration>