<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">

    <targets>
        <target name="logfile" xsi:type="File"
                encoding="utf-8"
                layout="${date}|${Level} ${callsite} - ${message}"
                fileName="${basedir}/logs/${shortdate}.log"
                concurrentWrites="true"
                keepFileOpen="true"
                openFileCacheTimeout="10" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
</nlog>